#cookie-bar{
	background-color: rgba(0,0,0,0.8);
	color: $color-white;
	font-size: $f09;
	padding: 13px;
	line-height: 1.5rem;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 1000;
}
#cookie-bar p{
  line-height: 2.2;
}
#cookie-bar a{
  padding-left: 3px;
	color: $color-white;
}
#cookie-bar a:nth-child(2){
	color: $color-white;
	padding-left: 10px;
	padding-right: 10px;
}
.cb-enable{
	background-color: $color-white;
	padding: 3px 5px 5px;
	margin-left: 20px;
	border: 1px solid #fff;
	color: $color-black;
	text-decoration: none;
}
