.ui-form {
  font-size: $f16;
  margin-bottom: 20px;
  &__display{
    @include resp-tablet{
      @include display-flex;
      @include flex-direction(row);
      @include justify-content(space-between);
    }
  }
  &__block {
    position: relative;
    margin-bottom: 12px;
    &__interest {
      margin-top: 22px;
    }
    &__variante{
      width: 100%!important;
      @include resp-tablet{
        width: 45%!important;
      }
    }
  }

  &__label {
    display: block;
    color: $color-black;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    @include resp-tablet{
      font-size: $f13;
      margin-bottom: 9px;
    }
    @include resp-desktop{
      font-size: $f16;
      margin-bottom: 20px;
    }
    &--inline {
      display: block;
      margin: 0 0 8px;
      font-size: $f16;
      @include resp-tablet {
        display: inline-block;
        margin: 0 10px 0 0;
        font-size: $f13;
      }
      @include resp-desktop{
        font-size: $f16;
      }
    }
  }

  &__input {
    width: 100%;
    font-size: $f16;
    color: $color-black;
    padding: 7px 0;
    @include border-radius(0);
    background-color: $color-white;
    border: none;
    border-bottom: 1px solid $color-black;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-appearance: textfield;
    &.uppercase {
      text-transform: uppercase;
    }
    &__variante{
      width: 100%;
    }
  }
  &__required {
    @include display-flex();
	@include justify-content(space-between);
	text-align: left;
    font-size: $f12;
    margin-bottom: 10px;
    color: $color-black;
    font-style: italic;
  }
  &__button{
	  background: none;
	  border: none;
	  /*color: $color-blue;*/
	  cursor: pointer;
	  &:hover{
		  color: $color-white;
	  }
  }
  &__ml{
	  display: block;
	  font-size: 0.8rem;
	  text-align: left;
    color: $color-black;
    text-decoration: none;
    @include resp-tablet{
      font-size: 0.6rem;
    }
    @include resp-desktop{
      font-size: 0.8rem;
    }
  }
  &__checkbox{
    margin-top: 20px;
    position: relative;
    @include display-flex;
    @include flex-direction(row);
  }
  label[class*="error"] {
    color: red;
    font-size: $f14;
  }

  input[class*="error"] {
    border-bottom: 1px solid red;
    color: red;
  }



  //////////////////////////////////////////////////////////////////// RADIO ////////////////////////////////////////////////////////////////////

  input[type="radio"]:checked,
  input[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }

  input[type="radio"]:checked + label
  ,
  input[type="radio"]:not(:checked) + label {
    position: relative;
    padding: 2px 0 0 25px;
    margin: 0 4px;
    cursor: pointer;
    font-size: $f16;
    display: inline-block;
    @include resp-tablet {
      margin: 0 3px;
      font-size: $f13;
    }
    @include resp-desktop{
      font-size: $f16;
    }
  }

  input[type="radio"]:checked + label:before,
  input[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 21px;
    height: 21px;
    @include border-radius(999px);
    background-color: $color-white;
    border: 1px solid $color-black;
    @include resp-tablet{
      width: 16px;
      height: 16px;
    }
    @include resp-desktop{
      width: 21px;
      height: 21px;
    }
  }

  input[type="radio"]:checked + label:after,
  input[type="radio"]:not(:checked) + label:after {
    content: '';
    position: absolute;
    top: 7px;
    left: 5px;
    width: 11px;
    height: 11px;
    background-color: $color-black;
    @include border-radius(999px);
    transition: all 0.2s;
    @include resp-tablet{
      top: 5px;
      left: 3px;
      width: 10px;
      height: 10px;
    }
    @include resp-desktop{
      top: 7px;
      left: 5px;
      width: 11px;
      height: 11px;
    }
  }

  input[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }

  input[type="radio"]:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }

  input[type="checkbox"]{
    visibility: hidden;
  }
  input, textarea {
      font-size: $f16;
      @include resp-tablet{
        font-size: $f14;
      }
      @include resp-desktop{
        font-size: $f16;
      }
  }
  input[type="checkbox"]:checked + label:before,
  input[type="checkbox"]:not(:checked) + label:before  {
    content: '';
    position: absolute;
    left: 0;
    width: 21px;
    height: 21px;
    background-color: $color-white;
    border: 1px solid $color-black;
    @include resp-tablet{
      width: 16px;
      height: 16px;

    }
    @include resp-desktop{
      background-color: $color-white;
      width: 21px;
      height: 21px;
    }
  }

    input[type="checkbox"]:checked + label:after,
    input[type="checkbox"]:not(:checked) + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 5px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background-color: $color-black;
      transition: all 0.2s;
      @include resp-tablet{
        top: 3px;
        left: 3px;
        width: 10px;
        height: 10px;
      }
      @include resp-desktop{
        left: 5px;
        top: 5px;
        width: 11px;
        height: 11px;
      }
    }

    input[type="checkbox"]:not(:checked) + label:after {
      opacity: 0;
      transform: scale(0);
    }

    input[type="checkbox"]:checked + label:after {
      opacity: 1;
      transform: scale(1);
    }

    input[type="checkbox"]:checked + label:before,
    input[type="checkbox"]:not(:checked) + label:before  {
      @include border-radius(999px);
    }

    input[type="checkbox"]:checked + label:after,
    input[type="checkbox"]:not(:checked) + label:after {
      @include border-radius(999px);
    }

    input[type="checkbox"]:checked + label,
    input[type="checkbox"]:not(:checked) + label {
      font-size: $f10;
      padding-left: 25px;
      @include resp-desktop{
        font-size: $f11;
        margin-right: 30px;
      }
    }

  //////////////////////////////////////////////////////////////////// PLACEHOLDER ////////////////////////////////////////////////////////////////////

  ::-webkit-input-placeholder {
    color: inherit;
  }

  ::-moz-placeholder {
    color: inherit;
    opacity: 1;
  }

  :-ms-input-placeholder {
    color: $color-black;
  }



  //////////////////////////////////////////////////////////////////// SUBMIT ////////////////////////////////////////////////////////////////////

  &__submit {
    max-width: 275px;
    margin: 25px auto 10px;
    position: relative;
    @include resp-tablet {
      max-width: 130px;
      margin: 25px 0 10px;
    }

    &__button {
      $color-button: $color-black;
      display: block;
      width: 100%;
      background-color: $color-black;
      color: $color-white;
      padding: 15px 10px;
      text-align: center;
      text-transform: uppercase;
      border: none;
      outline: none;
      font-size: $f14;
      font-weight: 700;
      position: relative;
      @include border-radius(0);
      cursor: pointer;
      transition: background-color 0.7s;
      @include resp-tablet{
        font-size: $f11;
        padding: 10px 10px;
      }
      @include resp-desktop{
        font-size: $f14;
        padding: 15px 10px;
      }
      &:hover {
        background-color: lighten($color-button, 15%);
      }
    }
    &__button2 {
      display: block;
      $color-button: $color-black;
      background-color: $color-white;
      color: $color-white;
      padding: 15px 24px;
      border: none;
      outline: none;
      font-size: $f14;
      font-weight: 700;
      cursor: pointer;
      margin: auto;
      margin-top: 20px;
      transition: background-color 0.7s;
      width: 270px;
      @include resp-tablet{
        width: auto;
        margin-left: 0;
        font-size: $f11;
        margin-top: 10px;
        padding: 10px 24px;
      }
      @include resp-desktop{
        font-size: $f14;
        margin-top: 20px;
        padding: 15px 24px;
      }
      &:hover {
        background-color: lighten($color-button, 15%);
      }
    }
  }
  &__play{
    @include resp-tablet{
      background-image: url('../img/play.png');
      background-position: center;
      background-size: cover;
      position: absolute;
      width: 90px;
      height: 90px;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      z-index: 999;
      @include resp-desktop{
        top: 75%;
        width: 90px;
        height: 90px;
      }
      @include resp-largescreen{
        top: 60%;
        width: 115px;
        height: 115px;
      }
    }
  }
}
.display__legals{
  @include display-flex;
  @include flex-direction(row);
  @include justify-content(space-between);
}
