.footer {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0 25px;
    background-color: $color-black;
    &__social {
        text-decoration: none;
        .icon {
            fill: $color-white;
            height: 25px;
            width: 25px;
        }
    }
}