@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans/OpenSans-Regular.eot");
  src: url("../fonts/opensans/OpenSans-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/opensans/OpenSans-Regular.woff") format('woff'), url("../fonts/opensans/OpenSans-Regular.ttf") format('truetype'), url("../fonts/opensans/OpenSans-Regular.svg#OpenSans-Regular") format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans/OpenSans-Bold.eot");
  src: url("../fonts/opensans/OpenSans-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/opensans/OpenSans-Bold.woff") format('woff'), url("../fonts/opensans/OpenSans-Bold.ttf") format('truetype'), url("../fonts/opensans/OpenSans-Bold.svg#OpenSans-Bold") format('svg');
  font-weight: 700;
  font-style: normal;
}
