@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans/OpenSans-Regular.eot");
  src: url("../fonts/opensans/OpenSans-Regular.eot?#iefix") format('embedded-opentype'), url("../fonts/opensans/OpenSans-Regular.woff") format('woff'), url("../fonts/opensans/OpenSans-Regular.ttf") format('truetype'), url("../fonts/opensans/OpenSans-Regular.svg#OpenSans-Regular") format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/opensans/OpenSans-Bold.eot");
  src: url("../fonts/opensans/OpenSans-Bold.eot?#iefix") format('embedded-opentype'), url("../fonts/opensans/OpenSans-Bold.woff") format('woff'), url("../fonts/opensans/OpenSans-Bold.ttf") format('truetype'), url("../fonts/opensans/OpenSans-Bold.svg#OpenSans-Bold") format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Space Mono';
  src: url('../fonts/space/SpaceMono-Regular.eot');
  src: url('../fonts/space/SpaceMono-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/space/SpaceMono-Regular.woff2') format('woff2'),
      url('../fonts/space/SpaceMono-Regular.woff') format('woff'),
      url('../fonts/space/SpaceMono-Regular.ttf') format('truetype'),
      url('../fonts/space/SpaceMono-Regular.svg#SpaceMono-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono';
  src: url('../fonts/space/SpaceMono-Bold.eot');
  src: url('../fonts/space/SpaceMono-Bold.eot?#iefix') format('embedded-opentype'),
      url('../fonts/space/SpaceMono-Bold.woff2') format('woff2'),
      url('../fonts/space/SpaceMono-Bold.woff') format('woff'),
      url('../fonts/space/SpaceMono-Bold.ttf') format('truetype'),
      url('../fonts/space/SpaceMono-Bold.svg#SpaceMono-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono';
  src: url('../fonts/space/SpaceMono-Italic.eot');
  src: url('../fonts/space/SpaceMono-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/space/SpaceMono-Italic.woff2') format('woff2'),
      url('../fonts/space/SpaceMono-Italic.woff') format('woff'),
      url('../fonts/space/SpaceMono-Italic.ttf') format('truetype'),
      url('../fonts/space/SpaceMono-Italic.svg#SpaceMono-Italic') format('svg');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono';
  src: url('../fonts/space/SpaceMono-BoldItalic.eot');
  src: url('../fonts/space/SpaceMono-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/space/SpaceMono-BoldItalic.woff2') format('woff2'),
      url('../fonts/space/SpaceMono-BoldItalic.woff') format('woff'),
      url('../fonts/space/SpaceMono-BoldItalic.ttf') format('truetype'),
      url('../fonts/space/SpaceMono-BoldItalic.svg#SpaceMono-BoldItalic') format('svg');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}