html {
  box-sizing: border-box;

  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }
}

body {
  font-family: $font;
  font-size: fz(14);
  line-height: 1.2;
  font-weight: 400;
  color: $color-black;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  @include resp('lg') {
    font-size: fz(16);
  }

  strong {
    font-weight: 700;
  }

  em {
    font-style: italic;
  }
}

footer,
header,
main {
  display: block; // Fix for ie
}

sup {
  position: relative;
  bottom: 1px;
  font-size: fz(10);
  line-height: 1;
  vertical-align: super;
  @include resp('lg') {
    font-size: fz(11);
  }
}

img,
svg {
  display: block;
}
