nav{
  position: absolute;
  top: 0;
  color: $color-white;
  z-index: 999;
  width: 100%;
  ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    li{
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 20px;
      font-size: $f30;
      font-family: $font-ter;
      letter-spacing: 20px;
      text-transform: uppercase;
      &:hover{
        color: $color-red;;
        transition: 0.5s;
      }
    }
    li:last-child{
      &:hover{
        color:$color-blue;
        transition: 0.5s;
      }
    }
  }
}
