.video{
  display:none;
  @include resp-desktop{
    display: block;

  }
  video{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
@media (min-aspect-ratio: 4/3) {
  #fire {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 4/3) {
  #fire {
    width: auto;
    height: 100%;
  }
}
.jesus{
  display: none;
  img{
    width: 200px;
    position: absolute;
    bottom: 125px;
    right: 82px;
    opacity: 0.7;

  }
}
.graff{
  display: none;
  img{
    width: 200px;
    position: absolute;
    top: 200px;
    left: 0px;
    opacity: 0.5;
  }
}
