{% extends 'base.html.twig' %}

{% block title %}
 KISS FROM PARIS - KFP
{% endblock %}

{% block description %}
  Description
{% endblock %}

{% block style %}
  {% include 'dist/styles.html.twig' with {
    'assetType' : 'homepage'
  } %}
{% endblock %}

{% block body %}
  <div class="home-page">
    <main>
     <section class="presentation">
      <div class="presentation__logo"></div>
      <h1 class="presentation__title">Kiss From Paris</h1>
      <p class="presentation__subtitle">Opening Soon...</p>
     </section>    
    </main>
    <footer class="footer">
      <a href="" class="footer__social">
        <svg class="icon">
          <use xlink:href="#icon-insta"></use>
        </svg>
      </a>
    
    </footer>
  </div>
{% endblock %}

{% block script %}
{% include 'dist/scripts.html.twig' with {
  'assetType' : 'homepage'
} %}
{% endblock %}
